<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Login</title>
   <link rel="stylesheet" href="css/reset.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="css/all.min.css">
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <main>
   <div class="jumbotron">
      <div class="container">
         <p class="d-block">
            <i class="fas fa-link"></i> &nbsp; GUIDE LINES...
         </p>
         <h1 class="display-3 text-bolder">INTERNSHIP <br>PROGRAM</h1>
      </div>
   </div>
   <p class="lead shadow bt">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aspernatur, laudantium delectus reiciendis doloribus illum sunt esse ab recusandae hic non, nemo deleniti dolorum suscipit et iusto cum vel ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magni sint doloribus libero dolores rem veritatis fugiat, et officiis necessitatibus, autem delectus soluta, corporis eligendi facilis nam asperiores repellat, nostrum!
   </p>

   <div class="container-fluid mb-5">

       <div class="col-12 col-sm-12 col-md-12 col-lg-12 my-3">
         <p class="text-center int my-5">INTERNSHIP</p>
       </div>
       <div class="row text-center">
         <div class="col-12 col-sm-6 mb-sm-5 col-md-2 col-lg-2 w-100" id="goal">
           <p class="red">|</p>
           <p class="red">|</p>
           <p class="yellow"><i class="fas fa-arrow-down"></i></p>
           <p class="green"><i class="fas fa-arrow-right"></i></p>
            <i class="fas fa-map-marker-alt fontAwe red"></i>
             <p>GOAL</p>
         </div>
         <div class="col-12 col-sm-6 mb-sm-5 col-lg-2 col-md-2 w-100" id="skill">
           <p class="yellow"><i class="fas fa-list-ol"></i></p>
           <p class="red"><i class="fas fa-code"></i></p>
           <p class="red"><i class="fas fa-search"></i></p>
           <p class="red">o</p>
            <i class="fas fa-tools fontAwe red"></i></i>
             <p>SKILL</p>
         </div>
         <div class="col-12 col-sm-6 mb-sm-5 col-lg-2 col-md-2 w-100" id="knowledge">
           <p class="yellow"><i class="fas fa-arrow-right"></i></p>
           <p class="yellow"><i class="fas fa-arrow-right"></i></p>
           <p class="yellow"><i class="fas fa-arrow-right"></i></p>
           <p class="yellow"><i class="fas fa-arrow-right"></i></p>
            <i class="fas fa-brain fontAwe yellow"></i>
             <p>KNOWLEDGE</p>
         </div>
         <div class="col-12 col-sm-6 mb-sm-5 col-lg-2 col-md-2 w-100" id="practice">
            <p class="green"><i class="fas fa-share"></i></p>
            <p class="green"><i class="fas fa-check"></i></p>
            <p class="yellow">!</p>
           <p class="red">x</p>
          <i class="fas fa-laptop-code fontAwe yellow"></i>

             <p>PRACTICE</p>
         </div>
         <div class="col-12 col-sm-6 mb-sm-5 col-lg-2 col-md-2 w-100" id="mentor">
           <p class="yellow"><i class="fas fa-arrows-alt-h"></i></p>
           <p class="yellow"><i class="fas fa-arrows-alt-h"></i></p>
           <p class="yellow"><i class="fas fa-arrows-alt-h"></i></p>
           <p class="yellow">o</p>
          <i class="fas fa-user-tie fontAwe yellow"></i>
             <p>MENTOR</p>
         </div>
         <div class="col-12 col-sm-6 mb-sm-5 col-lg-2 col-md-2 w-100" id="opportunity">
           <p class="green"><i class="fas fa-wallet "></i></p>
           <p class="yellow"><i class="fas fa-money-bill-wave "></i></p>
           <p class="yellow"><i class="fas fa-money-bill-alt "></i></p>
           <p class="yellow">o</p>
          <i class="fas fa-money-bill fontAwe green"></i>
             <p>OPPORTUNITY</p>
         </div>
       </div>

   </div>

   <section class="container p-2 my-3 text-justify mb-sm-5">
      <div class="row">
         <div class="col-12 col-md-12 col-lg-6 ">
         <div class="row my-3">
            <div class="row shadow p-3 mx-3">
               <div class=" col-12 col-lg-2 mx-3 d-block fontAwe col-md-3">
                  <!-- this is for the font-icon -->
                  <i class="far fa-calendar-alt"></i>
               </div>
               <div class="col-12 col-lg-9 col-md-8">
                  <a href="#" class="text-decoration-none stretched-link d-block mt-3"><h4>ROTATIONAL PROGRAM</h4></a>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus accusantium dolor modi, eaque cupiditate quas necessitatibus nesciunt laboriosam non ex alias quaerat excepturi, fugit repellendus, omnis deserunt consequuntur quidem reprehenderit.
               </div>
            </div>

         </div>
         </div>

         <div class="col-12 col-md-12 col-lg-6">
         <div class="row my-3">
            <div class="row shadow p-3 mx-3">
               <div class=" col-12 col-lg-2 mx-3 d-block fontAwe col-md-3">
                  <!-- this is for the font-icon -->
                  <i class="fa fa-cogs" aria-hidden="true"></i>

               </div>
               <div class="col-12 col-lg-9  col-md-8">
                  <a href="#" class="text-decoration-none stretched-link d-block mt-3"><h4>PROBLEM SOLVING SKILLS</h4></a>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus accusantium dolor modi, eaque cupiditate quas necessitatibus nesciunt laboriosam non ex alias quaerat excepturi, fugit repellendus, omnis deserunt consequuntur quidem reprehenderit.
               </div>
            </div>

         </div>
         </div>

         <div class="col-12 col-md-12 col-lg-6">
         <div class="row">
            <div class="row shadow p-3 mx-3">
               <div class=" col-12 col-lg-2 mx-3 d-block fontAwe col-md-3">
                  <!-- this is for the font-icon -->
                  <i class="fas fa-cubes"></i>
               </div>
               <div class="col-12 col-lg-9  col-md-8">
                  <a href="#" class="text-decoration-none stretched-link d-block mt-3"><h4>TECHNICAL SKILLS</h4></a>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus accusantium dolor modi, eaque cupiditate quas necessitatibus nesciunt laboriosam non ex alias quaerat excepturi, fugit repellendus, omnis deserunt consequuntur quidem reprehenderit.
               </div>
            </div>

         </div>
         </div>

         <div class="col-12 col-md-12 col-lg-6">
         <div class="row my-3">
            <div class="row shadow p-3 mx-3">
               <div class=" col-12 col-lg-2 mx-3 d-block fontAwe col-md-3">
                  <!-- this is for the font-icon -->
                  <i class="fas fa-comments"></i>
               </div>
               <div class="col-12 col-lg-9  col-md-8">
                  <a href="#" class="text-decoration-none stretched-link d-block mt-3"><h4>MENTORING</h4></a>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus accusantium dolor modi, eaque cupiditate quas necessitatibus nesciunt laboriosam non ex alias quaerat excepturi, fugit repellendus, omnis deserunt consequuntur quidem reprehenderit.
               </div>
            </div>

         </div>
         </div>

         <div class="col-12 col-md-12 col-lg-6">
         <div class="row">
            <div class="row shadow p-3 mx-3">
               <div class=" col-12 col-lg-2 mx-3 d-block fontAwe col-md-3">
                  <!-- this is for the font-icon -->
                  <i class="fas fa-brain"></i>
               </div>
               <div class="col-12 col-lg-9  col-md-8">
                  <a href="#" class="text-decoration-none stretched-link d-block mt-3"><h4>SOFT SKILLS</h4></a>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus accusantium dolor modi, eaque cupiditate quas necessitatibus nesciunt laboriosam non ex alias quaerat excepturi, fugit repellendus, omnis deserunt consequuntur quidem reprehenderit.
               </div>
            </div>

         </div>
         </div>

         <div class="col-12 col-md-12 col-lg-6">
         <div class="row">
            <div class="row shadow p-3 mx-3">
               <div class=" col-12 col-lg-2 mx-3 d-block fontAwe col-md-3">
                  <!-- this is for the font-icon -->
                  <i class="fas fa-shipping-fast"></i>
               </div>
               <div class="col-12 col-lg-9  col-md-8">
                  <a href="#" class="text-decoration-none stretched-link d-block mt-3"><h4>FEEDBACKS</h4></a>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus accusantium dolor modi, eaque cupiditate quas necessitatibus nesciunt laboriosam non ex alias quaerat excepturi, fugit repellendus, omnis deserunt consequuntur quidem reprehenderit.
               </div>
            </div>

         </div>
         </div>

      </div>
   </section>

   </main>
   <footer>
      <div class="row">
         <div class="col-12 col-md-4 offset-md-1">
            <p class="d-block mt-4">
               <i class="fas fa-link"></i> &nbsp; GUIDE LINES
            </p>
         </div>
         <div class="col-12 col-md-5 offset-md-2 p-3 faa">
            <a href="https://www.linkedin.com/in/samuel-chika-8278a89a" class="text-decoration-none"><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a>&nbsp; | &nbsp; Connect with me. <br>
            <a href="https://github.com/samuelchika/" class="text-decoration-none "><i class="fab fa-github"></i>&nbsp;Github</a>&nbsp;&emsp;  | &nbsp; Visit my <i class="fab fa-github"></i>&nbsp; account for more...
         </div>
      </div>
   </footer>
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <script src="js/all.min.js"></script>
   <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
