blueviolet* {
    margin: 0px;
    padding: 0px;
}
body {
    line-height: 1.5em;
    word-spacing: 1em;
    background-color: beige;
}
body{
   line-height: 1.8em;
  word-spacing: 0.5em;
  background-color: #f4f4f4;
  font-family: Arial, Tahoma, monospace, serif,sans-serif, Ubuntu;
}
header nav ul li {
  font-weight: bold;
}
/* Global Scopes */
.active {
  color: orange;
}
.justified{
  text-align: justify;
}
.container {
  width: 80%;
  margin: auto;
}
.clr {
  clear: both;
}
header {
  background-color: darkblue;
  padding: 10px 10px;
  margin-bottom: 0px;
  border-bottom: 3px orange solid;
}
header h2 {
  float: left;
}

header h2 span {
  color: orange;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
}
nav ul li {
  float:left;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #ccc;
}
#middle {
  padding: 10px;
  min-height: 400px;
  background-image: url('../img/pics5.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
}
#middle .container{
  width: 80%;
  margin: auto;
  margin-top: 0px;
}
#middle .container h2 {
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  line-height: 1.0em
}
#middle .container p {
  text-align: center;
  font-size: 22px;
}
#subscribe {
  background: darkblue;
  padding: 10px;
}
#subscribe .container {

}
#subscribe .container p {
  float: left;
  color: lightblue;
  font-size: 22px;
}
#subscribe .container #myForm {
  float: right;
  padding-top: 20px;
}

#myForm input {
  padding: 7px;
  color: darkblue;
  border-radius: 10px;
  border: 1px white solid;
  max-width: 80%;
}
#myForm input[type="submit"], #jForm input[type="submit"]{
  padding: 7px;
  color: darkblue;
  background: lightblue;
  border-radius: 10px;
  border: 1px white solid;

}
#services {
  margin: 30px;
  text-align: center;
}
#services .container {}
#services .container .box-1 {
  float: left;
  width: 33.3%;
  padding: 10px;
  box-sizing: border-box;

}
#services .container .box-2 {
  float: left;
  width: 33.3%;
  padding: 10px;
  box-sizing: border-box;

}
#services .container .box-3 {
  float: left;
  width: 33.3px;
  padding: 10px;
  box-sizing: border-box;

}
#services .container h3 {
  text-align: center;
}
#services .container img {
  width: 90px;
  padding-top: 30px;
}
footer {
  background-color: #ccc;
  padding: 25px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
#others {
  background-color: white;
  magin-bottom: 0px;
  padding: 7px;
}
#others .container {}
#others .container h2{}
#others .container ul {}
  #others .container ul li{
    list-style: none;
    border-bottom: 1px dotted grey;
  }
#main-side {
  float: left;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}
#sidebar{
  float: right;
  width: 30%;
  margin-top: 70px;
  padding: 10px;
  background-color: #333;
  box-sizing: border-box;
  color: white;
  text-align: justify;
}
#mainUp {}
#mainDown{
  padding: 10px;
  background-color: #333;
  box-sizing: border-box;
  color: white;
  text-align: justify;
}
#sidebarForm {
  float: right;
  width: 30%;
  margin-top: 70px;
  padding: 10px;
  background-color: #333;
  box-sizing: border-box;
  color: white;
  text-align: justify;
  position: relative;
}

#serv{}
#serv .container {}
#serv .container .box {
  padding: 25px;
  box-shadow: 0 0 5px grey;
  margin: 10px;
}
#sidebarForm .form-group {

}
#sidebarForm .form-group label {
  display: block;
}
#sidebarForm .form-group input {
  display: block;
  width: 80%;
}
#sidebarForm .form-group textarea {
  display: block;
  width: 90%;
}
#sidebarForm .form-group input[type="submit"] {
  margin-top: 20px;
  width: 40%
  text-align:center;
}
#sidebarForm .form-group input[type="submit"]:hover {
  background: gold;
}

#projHead {
  text-align: center;
  text-decoration: underline;
}
#headTag{
  background-color: purple;
  padding: 30px;
  text-align: center;
  margin: 5px;
}
#valGuess {
  padding: 40px;
}
.won {
  background-color: green;
  color: white;
  font-size: 30px;
}
.loss {
  background-color: red;
  color: black;
  font-size: 30px;
}

#vals {
  background-color: grey;
  padding: 20px;
  visibility: hidden;
}

#orange{
  background-color: orange;
}
ul li {
  list-style: none;
}
ul li .details {
  text-decoration: none;
}
ul li:nth-child(even) .details {
  color: brown;
}
ul li:nth-child(odd) .details{
  color: darkblue;
}
ul li .details:hover{
  color: red;
}
ul li .details:visited{
  color: green;
}
#mainSides {
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
}
#formResult {
  float: right;
  width: 70%;
  box-sizing: border-box;
  padding: 10px;

}
#tables table thead tr th {
  padding: 10px;
}
.form-group {
  padding: 15px;
}
input[type="text"], input[type="email"] {
  /*display: block; */
}
label {

  padding-right: 40px;
}

table {
  padding: 10px;
  border: 1px solid black;
  width: 100%;
}
table thead tr{
  background-color: #f4f4f4;
}
table tr {
  padding: 5px;
  border: 1px solid black;
}
table tr td{
  margin: 2px;

}
table tr:nth-child(even) {
  background-color: #f4f4f4;

}
table tbody tr:nth-child(odd) {
  background-color: white;
  border-bottom: 4px solid gold;
}


button {
  background-color: gold;
  padding: 5px;
  border-top-left-radius : 10px;
  border-bottom-right-radius: 10px;
  color : white;
}
button:hover {
  background-color: red;
  padding: 5px;
  border-top-right-radius : 10px;
  border-bottom-left-radius: 10px;
  color : black;
}
#jForm input{
  /*display: block; */
  background-color: #f4f4f4;
  width: 100%;
}
#courseLabel {
  display: block;
  padding-bottom: 5px;
}
#friendsHeader {
    padding: 30px;
    background-color: azure;
    margin-top: 10px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    text-shadow: 0 0 5px green;
    color: white;
}
#friendsList {
    list-style: none;
}
#friendsList  li{
    position: relative;
    padding: 30px;
    margin: 20px;
    background-color: azure;
    display: flex;
}
#friendsList li img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

#friendsList li .content {
    padding-left: 30px;
}
#friendsList li h2 {
    font-size: 2em;
}
#friendsList li h4 {
    font-size: 1.1em;
}
.isOnline {
    width: 50px;
    height: 50px;
    background-color: green;
    display: block;
    top: 50px;
    right: 20px;
    position: absolute;
    border-radius: 50%;
}
.isOffline {
    width: 50px;
    height: 50px;
    background-color: red;
    top: 50px;
    right: 20px;
    position: absolute;
    border-radius: 50%;
}
#options {
    text-align: center;
}
 #all {
    padding: 5px;
    width: 10%;
    border-radius: 0px;
    background-color: burlywood;
}
#on{
    padding: 5px;
    width: 10%;
    border-radius: 0px;
    background-color: green;
}
#off{
    padding: 5px;
    width: 10%;
    border-radius: 0px;
    background-color: red;
}
@media(max-width: 768px){
  body{
    margin: 0;
    padding: 0;
    line-height: 1.8em;
    word-spacing: 0.5em;
    background-color: #f4f4f4;
    font-family: Arial, Tahoma, monospace, serif,sans-serif, Ubuntu;
  }
  header #subscribe,#middless {
    margin: auto;
  }

  header h2, nav,#sidebar, #main-side, #sidebarForm, #formResult, #mainSides,
  #subscribe .container p, #subscribe .container #myForm,
  #services .container .box-1,
  #services .container .box-2,
  #services .container .box-3
  #friendSection .container {
    float: none;
    width: 100%;
  }
  header h2, nav ul {
    text-align: center;
  }
  #myForm input[type="email"]{
    margin-bottom: 20px;
    width: 100%;
  }
  #myForm input[type="submit"] {
    padding: 7px;
    color: darkblue;
    background: lightblue;
    border-radius: 10px;
    border: 1px gold solid;
    width: 100%;
  }
  #myForm input[type="submit"]:hover {
    background-color: orange;
  }
  #sidebar {
    margin:10px;
  }
  #subscribe {
    margin-bottom: 10px;
  }
  #mainSides {
  width: 95%;
  margin: auto;

  }
  #tables {
    overflow-x:auto;
  }
  #jForm {

  }
  #friendsHeader {
      padding: 30px;
      background-color: azure;
      margin-top: 10px;
      font-style: oblique;
      font-weight: bold;
      text-align: center;
      font-size: 3em;
      text-shadow: 0 0 5px green;
      color: white;
  }
  #friendSection .container{
      margin: auto;
       width: 90%;

  }
  #friendsList {
      list-style: none;
      margin-left: 0px;
  }
  #friendsList  li{
      position: relative;
      padding: 10px;
      margin: 5px;
      background-color: azure;
      display: flex;
      flex-direction: column;
  }
  #friendsList li img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
      padding-left: 40px;
  }

  #friendsList li .content {
      padding-left: 30px;
  }
  #friendsList li h2 {
      font-size: 1.5em;
  }
  #friendsList li h4 {
      font-size: 0.9em;
  }
  .isOnline {
      width: 20px;
      height: 20px;
      background-color: green;
      display: block;
      top: 50px;
      right: 20px;
      position: absolute;
      border-radius: 50%;
  }
  .isOffline {
      width: 20px;
      height: 20px;
      background-color: red;
      top: 50px;
      right: 20px;
      position: absolute;
      border-radius: 50%;
  }
  #all {
     padding: 5px;
     width: 20%;
     border-radius: 0px;
     background-color: burlywood;
 }
 #on{
     padding: 5px;
     width: 20%;
     border-radius: 0px;
     background-color: green;
 }
 #off{
     padding: 5px;
     width: 20%;
     border-radius: 0px;
     background-color: red;
 }
}
@media(max-width: 1280px) {
  #middless .container {
    width: 100%;
  }

  #formResult {
    /* background-color: #f4f4f4; */
  }

   #genderLabel {
     display: block;
     padding-bottom: 5px;
   }
   #jForm input{
     /*display: block; */
     background-color: #f4f4f4;
     width: 100%;
   }
   #jForm input[type="checkbox"]{
     /*display: block; */
     background-color: #f4f4f4;
   }
   #courseLabel {
     display: block;
     padding-bottom: 5px;
   }
   #tables {
       overflow-x: auto;
   }

}
/*Todo CSS document*/

#todoHouse{
    margin:auto;
    width: 60%;
    box-shadow: 0 0 4px darkslategrey;
}
#todoBody {

}

#todoHead {
    background-color: cadetblue;
    padding: 15px;
    text-align: center;
}

#todoHead h1 {
    padding-top: 150px;
    font-weight: 500;
    padding-bottom: 25px;
    font-size: 50px;
}
.no-todo {
    padding: 40px;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
}
#todoForm {
    width: 100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}
#todoForm  .todo-list .todo .todoText {
    ;
}
#todoForm input, #todoForm button {
    padding: 15px;
}
#todoForm input {
    width: 70%;
    background-color: aquamarine;
    border: none;
}
#todoForm input:focus{
    background-color: cadetblue;
    border-left: 4px solid white;
    border-bottom: 2px solid white;
    color: white;
    font-weight: bold;
}
#todoForm button {
    margin-left: -5px;
    background-color: aqua;
    border: none;
    border-left: 4px solid white;
}
#todoForm button:hover {
    background-color: blueviolet;
    color: blue;
    text-shadow: 0 0 2px white;
}
.todo-list {
    list-style: none;
    margin:0;
}
.todo-list .todo {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    box-shadow: 0 0 4px darkgrey;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.todo-list .buttons {
    display: flex;
}
.todo:nth-child(even){
    background-color: lightblue
}
.todo:nth-child(odd){
    background-color: cornflowerblue
}
.todo-list .buttons {
    margin-top: -5px;
    display: flex;
    align-items: center;
}
.todo-list .buttons button {
    padding: 10px;


}
.todo-list .buttons .up{
    background-color: antiquewhite;
    border: none;
    border-radius: 0px;
    color: black;
}
.todo-list .buttons .up:hover{
    background-color: green;
    color: white;
}
.todo-list .buttons .down{
margin-left: 5px;
    background-color: burlywood;
    border: none;
    border-radius: 0px;
}
.todo-list .buttons .down:hover{
    background-color: greenyellow;
    color: crimson;
}
.todo-list .buttons .remove{
    margin-left: 5px;
    background-color: darkred;
    border: none;
    color: white;
    border-radius: 0px;
}
.todo-list .buttons .remove:hover{
    background-color: orangered;
}

@media(max-width : 1280px) {
    #todoHouse{
        margin:auto;
        width: 85%;
        box-shadow: 0 0 4px darkslategrey;
    }
    #todoHead {
        background-color: blueviolet;
        padding: 15px;
        text-align: center;
    }
    #todoForm input {
        width: 70%;
        background-color: darkmagenta;
        border: none;
    }
    #todoForm input:focus {
        background-color: darkorchid;
        border: none;
    }
    #todoForm button {
        margin-left: -5px;
        background-color: tomato;
        border: none;
        border-left: 4px solid white;
        border-radius: 0px;
    }
    #todoForm button:hover {
        background-color: forestgreen;
        color: white;
        text-shadow: 0 0 2px white;
    }

}

@media(max-width : 768px) {
    #todoHouse{
        margin:auto;
        width: 95%;
        box-shadow: 0 0 4px darkslategrey;
    }
    #todoHead {
        background-color: blueviolet;
        padding: 15px;
        text-align: center;
    }
    #todoForm input {
        width: 70%;
        background-color: darkmagenta;
        border: none;
    }
    #todoForm input:focus {
        background-color: darkorchid;
        border: none;
    }
    #todoForm button {
        margin-left: -5px;
        background-color: tomato;
        border: none;
        border-left: 4px solid white;
    }
    #todoForm button:hover {
        background-color: forestgreen;
        color: white;
        text-shadow: 0 0 2px white;
    }
}
